<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="css">
	<style>
		div.search-container {
            padding-right: 40px;
        }
        div.footer {
            margin-top: 80px !important;
        }
	</style>
</th:block>
	<div layout:fragment="content">
		<div class="main" style="margin-top: 80px;">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8">
						<h1 style = "font-family: 'PRETENDARDJP-BLACK';">ログインページ</h1>
						<div
							style="background: #fff; border: 1px solid #f1f1f1; border-radius: 10px !important; padding: 50px 100px;">
							<form th:action="@{/loginProcess.do}" method="post">
								<div class="mb-3">
									<label class="form-label" for="id" style = "font-family: 'PRETENDARDJP-BLACK';">ユーザーID</label>
									<input class="form-control" type="text" name="email" id="email" style = "border-radius: 5px !important;"/>
								</div>
								<div class="mb-3" style="margin-top: 10px;">
									<label class="form-label" for="pwd" style = "font-family: 'PRETENDARDJP-BLACK'; ">パスワード</label>
									<input class="form-control" type="password" name="password" id="password" style = "border-radius: 5px !important;" />
								</div>
								<div style="width: 100%;height: 30px;">
									<!-- <span class="member__checkbox__label" style="float: right;">자동 로그인</span>
									<input
										class="member__checkbox__input member__sprite-after member__sprite-after--checkbox _loginRememberInput"
										type="checkbox" id="login-keep-state" autocomplete="" style="float: right;"> -->
								</div>
								<!-- Begin 경고 메세지 -->
								<span th:if="${errorMessage == 1}"
                        		style="color: red;display: flex;justify-content: center;margin-bottom: 3%; font-family: 'PRETENDARDJP-BLACK';">ユーザーIDとパスワードが一致していません。
								</span>
								<span th:if="${errorMessage == 2}"
                        		style="color: red;display: flex;justify-content: center;margin-bottom: 3%; font-family: 'PRETENDARDJP-BLACK';">アカウントが無効化されています。管理者にお問い合わせください。
								</span>
								<span th:if="${errorMessage == 3}"
                        		style="color: red;display: flex;justify-content: center;margin-bottom: 3%; font-family: 'PRETENDARDJP-BLACK';">パスワードの有効期限が切れています。管理者にお問い合わせください。
								</span>
								<span th:if="${errorMessage == 4}"
                        		style="color: red;display: flex;justify-content: center;margin-bottom: 3%; font-family: 'PRETENDARDJP-BLACK';">ログイン中問題が発生しました。
								</span>
								<span th:if="${ban != null}"
                        		style="color: red;display: flex;justify-content: center;margin-bottom: 3%; font-family: 'PRETENDARDJP-BLACK';">このアカウントは[[${ban}]]まで利用停止されました。<br>詳しい内容は管理者にご連絡ください。
								</span>
								<!-- End 경고 메세지 -->
								<div>
									<button type="submit" class="btn btn-primary"
										style="margin-bottom:30px; width:100%; font-family: 'PRETENDARDJP-BLACK'; border-radius: 5px !important;">ログイン</button>
								</div>
								<a href="/oauth2/authorization/google" class="google-login-btn">
							<img src="/Main/assets/corporate/img/googlelogin.png" style="margin: 0 auto; display: block;" alt="Google Logo" class="google-logo"/>
						</a>
								<div style="text-align: center; margin: 15px;">
									<a th:href="@{/sign/emailFindSelect.do}" style =" font-family: 'PRETENDARDJP-BLACK';">ユーザーIDをお忘れの方</a>
									|
									<a th:href="@{/sign/pwFind.do}" style =" font-family: 'PRETENDARDJP-BLACK';"> パスワードをお忘れの方</a>
									|
									<a th:href="@{/sign/joinSelect.do}" style =" font-family: 'PRETENDARDJP-BLACK';">会員登録</a>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-2">
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div><!-- end main -->
	</div><!-- end layout : content -->
</html>